@font-face {
	src: url('../fonts/UbuntuCondensed-Regular.ttf');
	font-family: 'ubuntu';
}
* {
	font-family: 'ubuntu';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fbf3ff;
}

.container {
	position: absolute;
	max-width: 800px;
	height: 500px;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50%);
}

.myRightCtn {
	position: relative;
	background: linear-gradient(45deg, #f046ff, #9b00e8);
	border-radius: 25px;
	height: 100%;
	padding: 25px;
	color: rgb(192, 192, 192);
	font-size: 12px;

	display: flex;
	justify-content: center;
	align-items: center;
}


.myLeftCtn {
	position: relative;
	background-color: #fff;
	border-radius: 25px;
	height: 100%;
	padding: 25px;
	padding-left: 50px;
}

.row {
	height: 100%;
}

.myCard {
	position: relative;
	background-color: #fff;
	height: 100%;
	border-radius: 25px;
	box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.myRightCtn header {
	color: #fff;
	font-size: 44px;
}

.box {
	position: relative;
	margin: 20px;
	margin-bottom: 100px;
}

.myInput {
	width: 240px;
	border-radius: 25px;
	padding: 10px;
	padding-left: 40px;
	border: none;
	box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.myInput:focus {
	outline: none;
}

.myForm {
	position: relative;
	margin-top: 50px;
}

.myLeftCtn header {
	font-family: impact;
	font-size: 30px;
	margin-bottom: 15px;
	color: #9b00e8;

}

.butt {
	background: linear-gradient(45deg, #bb36fd, #9b00e8);
	color: #fff;
	width: 240px;
	border: none;
	border-radius: 25px;
	padding: 10px;
	box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.butt:hover {
	background:  linear-gradient(45deg, #c85bff, #b726ff);
}

.butt:focus {
	outline: none;
}

.fas {
	position: relative;
	color: #bb36fd;
	left: 36px;
}

.butt_out {
	background-color: transparent;
	color: #fff;
	width: 120px;
	border: 2px solid #fff;
	border-radius: 25px;
	padding: 10px;
	box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.butt_out:hover {
	border: 2px solid #eecbff;
}

.butt_out:focus {
	outline: none;
}